<div class="card p-3">
    <h5>สถิติการลาประจำเดือน</h5>
    <div class="row my-3">
        <div class="col-md-3">
            <label>เลือกเดือน</label>
            <input type="month" class="form-control">
        </div>
        <div class="col-md-3">
            <label>แผนก</label>
            <select class="form-control" >
                <option value="ทั้งหมด">ทุกแผนก</option>
                <option ></option>
            </select>
        </div>
        <div class="col-md-3 align-self-end">
            <button class="btn btn-success">Export Excel</button>
        </div>
    </div>

    
    <div>
        <canvas baseChart >
        </canvas>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>ชื่อ-นามสกุล</th>
                <th>แผนก</th>
                <th>ลาป่วย</th>
                <th>ลาพักร้อน</th>
                <th>ลากิจ</th>
                <th>รวม</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>