<!-- login.component.html -->
<div class="login-wrapper d-flex align-items-center justify-content-center">
    <div class="login-card p-4 shadow-sm">
        <h1 class="text-center mb-4">เข้าสู่ระบบ</h1>
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="form-floating mb-3">
                <input type="email" id="email" class="form-control" placeholder="name@example.com" [(ngModel)]="email"
                    name="email" required email />
                <label for="email">อีเมล</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" id="password" class="form-control" placeholder="รหัสผ่าน" [(ngModel)]="password"
                    name="password" required />
                <label for="password">รหัสผ่าน</label>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
                เข้าสู่ระบบ
            </button>
        </form>
    </div>
</div>